
.aside-panel{
    box-sizing: border-box;
    align-self: flex-end;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.875rem 0.9375rem;
    width: 16.25rem;
    height: 100%;
    background-color:dimgrey;
    color: white;
    float: left;
    overflow: auto;
    position: fixed
      
}
