

.aside-panel{
    display: flex;
    box-sizing: border-box;
    align-self: flex-end;
    flex-direction: column;
    padding: 1.875rem 0.9375rem;
    width: 16.25rem;
    height: 100vh;
    background:var(--tonalidad);
    color:var(--colorLetra);
    float: left;
    overflow: auto;
    position: fixed; 
    font-family: var(--generalFont)  
    
}

.filtro{
    filter: brightness(1);
    filter: opacity(1);
    filter: contrast();
    filter: blur();
    filter: grayscale();
    filter: sepia();
    filter: hue-rotate();
    filter: saturate();
    filter: invert();
}

.filtor{
    filter: brightness() opacity()
}

#resetButton{
    display: flex;
    background-color: rgb(146, 139, 146);
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 5vh;
    padding: 8px;
    border: none;
    color: lightyellow;
    font-weight: bold;
}

.aside-tille, .little-box, .font-button, .button-contorno{
    padding: 8px;
}
@media (max-width:900px) and (min-width:320px){
    .aside-panel{
        display: none;
    }
}