

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-content: center;
   /*  height: 100vh;
    width: auto; 
    /* background-color: blueviolet; */ 
    width: 100%;
    height: 100vh;
    
    
}



:root{
    --fondoPrimario:#D0ECE7;
    --fondoSecundario:#ABEBC6;
    --colorLetra: #2C3E50;
    --tonalidad:#A2D9CE ;
    --generalFont:'Bebas Neue', cursive;
}

/* body */.light-mood{
    --fondoPrimario:#D0ECE7;
    --fondoSecundario:#ABEBC6;
    --colorLetra: #2C3E50;
    --tonalidad:#A2D9CE;
    /* --color-body: rgb(29, 29, 34);
    --color-titulo-header: white; */
}

/* body */.dark-mood{
    --fondoSecundarioOscuro: #05251f;  
    --fondoPrimarioOscuro:#148F77;
    --colorLetraOscuro:#F0F3F4;
    --tonalidadOscuro:#333835;
    /* --color-body: #e4e4d8; */
    /* --color-titulo-header: rgb(74, 243, 22); */
}

.ligth-mood .change-ligth-mood,
.dark-mood .change-dark-mood{
  display: flex;
}

.ligth-mood .change-ligth-mood,
.dark-mood .change-dark-mood{ 
  display: none;
}

