@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #191E2B;
    color: white;
    font-family: 'Mukta Vaani', sans-serif;
}

.header-title{
    display: flex;
    margin-top: 0.625rem;
    font-size: 1.875rem;
}

.nav-header, .list-nav-header{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding:5px;
}

.list-nav-header{
    /* background-color: aqua; */
    width: 320px;
}